:root {
  --primary-color: rgb(14, 113, 165);
  --secondary-color: rgb(58, 66, 69);
  --accent1-color: rgb(255, 255, 255);
  --accent2-color: rgb(109, 123, 130);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ROBOTO", serif;
}

body {
  font-family: "CRIMSON TEXT", serif;
}
:root {
  text-decoration: none;
}
:root {
  max-width: 960px;
}
.hero {
  position: relative;
}
h1 {
  position: absolute;
}
article {
  position: absolute;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
img article {
  float: right;
}
article {
  background-color: var(--accent2-color);
}
