:root {
    --color: darkblue;
    --dark-color: black;
    --light-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 1px;
    box-shadow: 0 0 30px gray;
    position: absolute;
    top: 270px;
    left: 950px;
}

aside {
    width: 20rem;
    border: 1px solid rgb(000/0.2);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(000/ 10%);
    padding: 1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
}